<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="static/css/style.css">
    <script src="static/js/index.js"></script>
</head>
<body>
    
    <h1 class="promocion">Página de productos</h1>
    <div class="sesion">
        <div id="iconoUsuario">
            <span class="iconoUsuario">{{nombre}}</span><img class="iconoUsuario" src="static/img/user.png" alt="">
        </div>
        <div class="datosUsuario" id="datosUsuario">
            <ul>
                <li><a href="editarUsuario">Editar Usuario</a></li>
                <li><a id="outSession" href="cerrarSesion">Cerrar sesion</a></li>
                <li><a href="crearProducto">Productos</a></li>
            </ul>
        </div>
        
    </div>
    
    <section id="productosDisponibles" class="productos">
        <h3>Productos disponibles en nuestra tienda</h3>
        <div>
            <article id="p1">
                <h4 class="tituloProducto">Nombre producto 1</h4>
                <p>Descripcion del producto</p>
                <img src="static/img/espada.png" alt="Espada">
            </article>
            <article class="promocion">
                <h4 class="tituloProducto">Nombre producto 2</h4>
                <p>Descripcion del producto</p>
                <img src="static/img/espada.png" alt="Espada">
            </article>
            <article>
                <h4 class="tituloProducto">Nombre producto 3</h4>
                <p>Descripcion del producto</p>
                <img src="static/img/espada.png" alt="Espada">
            </article>
        </div>
    </section>
    <section id="productosNoDisponibles" class="productos">
        <h3>Productos fuera de stock</h3>
        <div>
            <article>
                <img class="imgPoke" src="static/img/pokeball.png" alt="Pokeball">
                <h4>Nombre producto</h4>
            </article>
            <article>
                <img class="imgPoke" src="static/img/pokeball.png" alt="Pokeball">
                <h4>Nombre producto</h4>
            </article>
            <article>
                <img class="imgPoke" src="static/img/pokeball.png" alt="Pokeball">
                <h4>Nombre producto</h4>
            </article>
            <article>
                <img class="imgPoke" src="static/img/pokeball.png" alt="Pokeball">
                <h4>Nombre producto</h4>
            </article>
            <article>
                <img class="imgPoke" src="static/img/pokeball.png" alt="Pokeball">
                <h4>Nombre producto</h4>
            </article>
            <article>
                <img class="imgPoke" src="static/img/pokeball.png" alt="Pokeball">
                <h4>Nombre producto</h4>
            </article>
            <article>
                <img class="imgPoke" src="static/img/pokeball.png" alt="Pokeball">
                <h4>Nombre producto</h4>
            </article>
            <article>
                <img class="imgPoke" src="static/img/pokeball.png" alt="Pokeball">
                <h4>Nombre producto</h4>
            </article>
            <article>
                <img class="imgPoke" src="static/img/pokeball.png" alt="Pokeball">
                <h4>Nombre producto</h4>
            </article>
            <article>
                <img class="imgPoke" src="static/img/pokeball.png" alt="Pokeball">
                <h4>Nombre producto</h4>
            </article>
        </div>
    </section>

</body>
</html>