<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="static/css/login.css">
</head>

<body>

    <form class="login" action="" method="post">
        <p id="msgError">{{mensaje}}</p>
        <label for="">Usuario</label>
        <input type="text" name="usr" id="" placeholder="Nombre de usuario" value={{request.args["usuarioExiste"]}}>
        <label for="">Password</label>
        <input type="password" name="passw" id="" placeholder="Contraseña">
        <input type="submit" value="Entrar" class="button">
        <a href="registro">Registrate</a>
    </form>

</body>

</html>